*{
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}
.index {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

body{
    width: 100%;
    height: 100vh;
    background: repeating-radial-gradient(rgb(0, 0, 0),white);
}

.bg{
    position: fixed;
}
.bg img{
    width: 100%;
}
.c1 {
    position: absolute;
    min-height: 70vh;
    text-align: center;
}
.c1 .judul h1{
    color: white;
}
.container{
    position: relative;
    width: 1100px;
    display: flex;
    flex-wrap: wrap;
}
.container .box{
    position: relative;
    width: 275px;
    height: 275px;
    overflow: hidden;
    transition: 0.5s;
    
}
.container .box img{
    width: 1280px;
    max-width: 100%;
    
}

.container .box:hover{
    z-index: 1;
    transform: scale(1.15);
    box-sizing: 0 25px 40px rgba(255, 252, 252, 0.5);
}

.container .box .imgbox{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
}
.container .box .imgbox::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: linear-gradient(180deg,rgb(252, 187, 187),rgb(47, 0, 100));
    mix-blend-mode: multiply;
    opacity: 0;
    transition: 0.5s;
}
.container .box:hover .imgbox::before{
    opacity: 1;
}
.container .box .imgbox img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}
.container .box .content{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: flex;
    padding: 5px;
    align-items: flex-end;
}
.container .box .content h2{
    color: white;
    transition: 0.5s;
    text-transform: uppercase;
    margin: 20px;
    font-size: 20px;
    transform: translateY(200px);
}
.container .box:hover .content h2{
    transform: translateY(0);
    transition-delay: 0s;
}
.content a{
    text-decoration: none;
}
.content a:hover{
    color: yellow;
}

header{
    position: fixed;
    padding: 50px;
    z-index: 1;
    width: 100%;
}
header h3{
    float: right;
    margin-right: 100px;

}
header h3 a{
    font-family: sans-serif;
    text-decoration: none;
    color: rgb(255, 255, 255);
}
header ul{
    float: left;
}
header ul li{
    display: inline-block;
    padding: 20px;
}
header ul li a{
    padding: 5px ;
    text-decoration: none;
    color: rgb(255, 255, 255); 
    float: right;
}
header a:hover{
    color: orange;
    transition: 0.2s;
}

.galery{
    width: 100%;
    max-width: 100rem;
    margin: auto;
    padding: 0 ;
    z-index: -2;
}
.poto{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 0.5rem;

    grid-template-areas: 
                        'img-1 img-2 img-3 img-3'
                        'img-1 img-4 img-5 img-6'
                        'img-7 img-7 img-8 img-6'
                        'img-9 img-10 img-10 img-11';
}
.poto a{
    width: 100%;
    height: 30rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.poto a i{

    font-size: 3rem;
    position: relative;
    z-index: ;
    padding: 1rem 3rem;
    border: 2px solid black, .6;
    border-radius: .4rem;

    transition: opacity .5s;
}
.poto a::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0), 0, 0);
    opacity: 0;
    transition: opacity .5s;
}
.poto a:hover 1,
.poto a:hover:::before{
    opacity: 1;
    
}
.img-1{
    grid-area: img-1;
    min-height: 61rem;
    background-image: url(media/stage/1.jpg);
}
.img-2{
    grid-area: img-2;
    background-image: url(media/stage/33.jpg);
}
.img-3{
    grid-area: img-3;
    background-image: url(media/stage/7.jpg);
}
.img-4{
    grid-area: img-4;
    background-image: url(media/stage/8.jpg);
}
.img-5{
    grid-area: img-5;
    background-image: url(media/stage/55.jpg);
}
.img-6{
    grid-area: img-6;
    min-height: 60.5rem;
    background-image: url(media/stage/99.jpg);
}
.img-7{
    grid-area: img-7;
    background-image: url(media/stage/11.jpg);
}
.img-8{
    grid-area: img-8;
    background-image: url(media/stage/12.jpg);
}
.img-9{
    grid-area: img-9;
    background-image: url(media/stage/14.jpg);
}
.img-10{
    grid-area: img-10;
    background-image: url(media/stage/6.jpg);
}
.img-11{
    grid-area: img-11;
    background-image: url(media/stage/15.jpg);
}
@media screen and (max-width: 768px){
    .container{
        
   
